<%- model_class = Catalogo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:camisa) %></th>
      <th><%= model_class.human_attribute_name(:vestido) %></th>
      <th><%= model_class.human_attribute_name(:ropa_interior) %></th>
      <th><%= model_class.human_attribute_name(:faldas) %></th>
      <th><%= model_class.human_attribute_name(:blusas) %></th>
      <th><%= model_class.human_attribute_name(:jeans) %></th>
      <th><%= model_class.human_attribute_name(:zapatos) %></th>
      <th><%= model_class.human_attribute_name(:tacones) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @catalogos.each do |catalogo| %>
      <tr>
        <td><%= link_to catalogo.id, catalogo_path(catalogo) %></td>
        <td><%= catalogo.camisa %></td>
        <td><%= catalogo.vestido %></td>
        <td><%= catalogo.ropa_interior %></td>
        <td><%= catalogo.faldas %></td>
        <td><%= catalogo.blusas %></td>
        <td><%= catalogo.jeans %></td>
        <td><%= catalogo.zapatos %></td>
        <td><%= catalogo.tacones %></td>
        <td><%=l catalogo.created_at %></td>
        <td>
          <%= link_to t('.Editar', :default => t("helpers.links.Editar")),
                      edit_catalogo_path(catalogo), :class => 'btn btn-mini' %>
          <%= link_to t('.Eliminar', :default => t("helpers.links.Eliminar")),
                      catalogo_path(catalogo),
                      :method => :delete,
                      :data => { :confirm => t('.Esta seguro', :default => t("helpers.links.confirm", :default => 'Esta seguro?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.Nuevo', :default => t("helpers.links.Nuevo")),
            new_catalogo_path,
            :class => 'btn btn-primary' %>
