<%- model_class = Catalogo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:camisa) %>:</strong></dt>
  <dd><%= @catalogo.camisa %></dd>
  <dt><strong><%= model_class.human_attribute_name(:vestido) %>:</strong></dt>
  <dd><%= @catalogo.vestido %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ropa_interior) %>:</strong></dt>
  <dd><%= @catalogo.ropa_interior %></dd>
  <dt><strong><%= model_class.human_attribute_name(:faldas) %>:</strong></dt>
  <dd><%= @catalogo.faldas %></dd>
  <dt><strong><%= model_class.human_attribute_name(:blusas) %>:</strong></dt>
  <dd><%= @catalogo.blusas %></dd>
  <dt><strong><%= model_class.human_attribute_name(:jeans) %>:</strong></dt>
  <dd><%= @catalogo.jeans %></dd>
  <dt><strong><%= model_class.human_attribute_name(:zapatos) %>:</strong></dt>
  <dd><%= @catalogo.zapatos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tacones) %>:</strong></dt>
  <dd><%= @catalogo.tacones %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              catalogos_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_catalogo_path(@catalogo), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              catalogo_path(@catalogo),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
