<%- model_class = DatosDelCliente -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= model_class.human_attribute_name(:cedula) %></th>
      <th><%= model_class.human_attribute_name(:apellido) %></th>
      <th><%= model_class.human_attribute_name(:telefono) %></th>
      <th><%= model_class.human_attribute_name(:direccion) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:ciudad) %></th>
      <th><%= model_class.human_attribute_name(:forma_de_pago) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @datos_del_clientes.each do |datos_del_cliente| %>
      <tr>
        <td><%= link_to datos_del_cliente.id, datos_del_cliente_path(datos_del_cliente) %></td>
        <td><%= datos_del_cliente.nombre %></td>
        <td><%= datos_del_cliente.cedula %></td>
        <td><%= datos_del_cliente.apellido %></td>
        <td><%= datos_del_cliente.telefono %></td>
        <td><%= datos_del_cliente.direccion %></td>
        <td><%= datos_del_cliente.email %></td>
        <td><%= datos_del_cliente.ciudad %></td>
        <td><%= datos_del_cliente.forma_de_pago %></td>
        <td><%=l datos_del_cliente.created_at %></td>
        <td>
          <%= link_to t('.Editar', :default => t("helpers.links.Editar")),
                      edit_datos_del_cliente_path(datos_del_cliente), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      datos_del_cliente_path(datos_del_cliente),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_datos_del_cliente_path,
            :class => 'btn btn-primary' %>
