<%- model_class = Ficha -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
  <dd><%= @ficha.nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:codigo) %>:</strong></dt>
  <dd><%= @ficha.codigo %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.Atras', :default => t("helpers.links.Atras")),
              fichas_path, :class => 'btn'  %>
  <%= link_to t('.Editar', :default => t("helpers.links.Editar")),
              edit_ficha_path(@ficha), :class => 'btn' %>
  <%= link_to t('.Eliminar', :default => t("helpers.links.Eliminar")),
              ficha_path(@ficha),
              :method => 'delete',
              :data => { :confirm => t('.Esta seguro', :default => t("helpers.links.confirm", :default => 'Esta seguro?')) },
              :class => 'btn btn-danger' %>
</div>
