<%- model_class = Producto -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:ficha_id) %>:</strong></dt>
  <dd><%= @producto.ficha_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:referencia) %>:</strong></dt>
  <dd><%= @producto.referencia %></dd>
  <dt><strong><%= model_class.human_attribute_name(:precio) %>:</strong></dt>
  <dd><%= @producto.precio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cantidad) %>:</strong></dt>
  <dd><%= @producto.cantidad %></dd>
  <dt><strong><%= model_class.human_attribute_name(:talla_id) %>:</strong></dt>
  <dd><%= @producto.talla_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:color_id) %>:</strong></dt>
  <dd><%= @producto.color_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:terminado_id) %>:</strong></dt>
  <dd><%= @producto.terminado_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.Atras', :default => t("helpers.links.Atras")),
              productos_path, :class => 'btn'  %>
  <%= link_to t('.Editar', :default => t("helpers.links.Editar")),
              edit_producto_path(@producto), :class => 'btn' %>
  <%= link_to t('.Eleminar', :default => t("helpers.links.Eliminar")),
              producto_path(@producto),
              :method => 'delete',
              :data => { :confirm => t('.Esta seguro', :default => t("helpers.links.confirm", :default => 'Esta seguro?')) },
              :class => 'btn btn-danger' %>
</div>
