<%- model_class = Terminado -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:bordados) %>:</strong></dt>
  <dd><%= @terminado.bordados %></dd>
  <dt><strong><%= model_class.human_attribute_name(:estampado) %>:</strong></dt>
  <dd><%= @terminado.estampado %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.Atras', :default => t("helpers.links.Atras")),
              terminados_path, :class => 'btn'  %>
  <%= link_to t('.Editar', :default => t("helpers.links.Editar")),
              edit_terminado_path(@terminado), :class => 'btn' %>
  <%= link_to t('.Eliminar', :default => t("helpers.links.Eliminar")),
              terminado_path(@terminado),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'esta seguro?')) },
              :class => 'btn btn-danger' %>
</div>
